* {
  box-sizing: border-box;
  font-family: 'Roboto' sans-serif;
  font-size: 20px;
  color: black;
}

#navbar {
  background-color: #aaa5a5;
  border-radius: 0;
  border: 0;
  border: solid black 3px;
  margin-bottom: 0;
  text-align: center;
}

.navbar-brand {
  padding-left: 0;
}

.navbar-brand h1 {
  font-family: 'Roboto';
  font-size: 2em;
  color: black;
  margin-top: 0;
  margin-left: 15px;
  margin-bottom: 0;
}

.text-center {
  font-family: 'roboto';
  font-size: 38px;
  font-weight: bold;
  position: relative;
  margin-top: 55px;
}

#text {
  margin: 10px;
  background-color: #aaa5a5;
  font-family: 'roboto';
  position: relative;
}
